<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="installation-page"><h2 id="installation">Installation</h2>
<h3 id="installation_installing-via">Installing via <a href="https://github.com/twitter/bower">Bower</a></h3>
<p>You can install the <code>angular-sharepoint</code> package using Bower. After
installing Bower on your machine, simply run on your command line:</p>
<pre><code>$ bower install angular-sharepoint</code></pre>
<p>This will install a package in your configured components folder. You can watch the
bower package repository <a href="https://github.com/ExpertsInside/bower-angular-sharepoint">here</a>
for releases.</p>
<h3 id="installation_installing-via">Installing via <a href="https://nuget.org">NuGet</a></h3>
<p>The <code>angular-sharepoint</code> is also available via NuGet. Simply run the following
command on your Package Manager Console inside Visual Studio:</p>
<pre><code>Install-Package angular-sharepoint</code></pre>
<p>or search for <code>angular-sharepoint</code> in the NuGet Package Manager.
This will install the NuGet package in the <code>Scripts/</code> folder of your project.</p>
<h3 id="installation_installing-with-git">Installing with Git</h3>
<p>There are two ways to install <code>angular-sharepoint</code> via git.
You can get the compiled files directly from the bower repository via:</p>
<pre><code>$ git clone git://github.com/ExpertsInside/bower-angular-sharepoint.git</code></pre>
<p>All releases are tagged, so for installing a specific version run</p>
<pre><code>$ git checkout vX.X.X</code></pre>
<p>where <code>X.X.X</code> stands for the version.</p>
<p>If you want to compile the sources yourself, you can clone the source repository:</p>
<pre><code>$ git clone git://github.com/ExpertsInside/angular-sharepoint.git</code></pre>
<p>Note that, when installing via Git, the dependencies, namely [AngularJS](<a href="http://angularjs.org">http://angularjs.org</a>]
and <a href="http://sharecoffee.github.io">ShareCoffee</a> are <em>not</em> installed automatically
and you have to do it yourself.</p>
<p>For instructions on how to get the build and test tools up and running, see the
<a href="#/guide/99_contributing">Contribution Guide</a></p>
</div></div>
