<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="getting-started-page"><h2 id="getting-started">Getting Started</h2>
<h3 id="getting-started_setup-html">Setup HTML</h3>
<p>To get started, embed <code>angular-sharepoint</code> in your HTML document <em>after</em> AngularJS is embedded.
You also need to include <a href="http://sharecoffee.github.io">ShareCoffee</a> because <code>angular-sharepoint</code>
depends on it. Your HTML should look like this:</p>
<pre class="prettyprint linenums">
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;i18n app&lt;/title&gt;

    &lt;script src="path/to/ShareCoffee.js"&gt;&lt;/script&gt;
    &lt;!-- additional ShareCoffee plugins when needed, see below --&gt;

    &lt;script src="path/to/angular.js"&gt;&lt;/script&gt;
    &lt;script src="path/to/angular-sharepoint.js"&gt;&lt;/script&gt;
    &lt;script src="app.js"&gt;&lt;/script&gt;
  &lt;/head&gt;

  &lt;body ng-app="myApp"&gt;

  &lt;/body&gt;
&lt;/html&gt;
</pre>
<h3 id="getting-started_dependency-declaration">Dependency Declaration</h3>
<p>Once included, you need to declare <code>angular-sharepoint</code> as a dependency of
your AngularJS app. There are currently five modules available:</p>
<ul>
<li><p><code>ExpertsInside.SharePoint.Core</code>: The core module, containing only utility
and helper services like <code>$spRest</code> and <code>$spPageContextInfo</code> used by the
other modules. You probably will never need this on its own.</p>
</li>
<li><p><code>ExpertsInside.SharePoint.List</code>: The list module, containg the <code>$spList</code> service
which wraps the SharePoint List REST API.</p>
</li>
<li><p><code>ExpertsInside.SharePoint.Search</code>: The search module, containing the <code>$spSearch</code> service
which wraps the SharePoint Search REST API.
<br><strong>depends on</strong> <a href="http://github.com/ShareCoffee/ShareCoffee.Search">ShareCoffee.Search</a></p>
</li>
<li><p><code>ExpertsInside.SharePoint.User</code>: The user module, containg the <code>$spUser</code> service
which wraps the SharePoint User Profiles REST API.
<br><strong>depends on</strong> <a href="http://github.com/ShareCoffee/ShareCoffee.UserProfiles">ShareCoffee.UserProfiles</a></p>
</li>
<li><p><code>ExpertsInside.SharePoint</code>: The complete package, containing everything above.</p>
</li>
</ul>
<p>After picking the module you want, you need to tell AngularJS that it should load the
module when declaring your own module:</p>
<pre><code class="lang-js">// Include everything
var app = angular.module(&#39;myApp&#39;, [&#39;ExpertsInside.SharePoint&#39;]);</code></pre>
<p>or</p>
<pre><code class="lang-js">// Only need the list and user service
var app = angular.module(&#39;myApp&#39;, [&#39;ExpertsInside.SharePoint.List&#39;, &#39;ExpertsInside.SharePoint.User&#39;]);</code></pre>
<p>When declaring the <code>ExpertsInside.SharePoint.Search</code> or <code>ExpertsInside.SharePoint.User</code> module as
a dependency you also need to respectively install and reference the
<a href="http://github.com/ShareCoffee/ShareCoffee.UserProfiles">ShareCoffee.UserProfiles</a> or
<a href="http://github.com/ShareCoffee/ShareCoffee.Search">ShareCoffee.Search</a> plugin in your HTML.</p>
<pre class="prettyprint linenums">
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;i18n app&lt;/title&gt;

    &lt;script src="path/to/ShareCoffee.js"&gt;&lt;/script&gt;
    &lt;script src="path/to/ShareCoffee.Search.js"&gt;&lt;/script&gt;
    &lt;script src="path/to/ShareCoffee.UserProfiles.js"&gt;&lt;/script&gt;

    &lt;!-- rest ommitted, see above --&gt;
  &lt;/head&gt;
&lt;/html&gt;
</pre>
<p>If you forget to include the needed plugings, the module depending on it will log
a warning to the console when it is loaded.</p>
</div></div>
